@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: auto;
    max-width: max-content;
    height: max-content;
    box-shadow: 0px 0px 30px #d5d5d55e;
    border-radius: 20px;
    font-family: 'Inter',sans-serif;
    text-align: center;
    align-items: center;
    color: #067BC2;
}

.login-title > h1 {
    padding: 10px;
    padding-bottom: 0px;
    font-size: 60px;
    font-weight: bold;
}

.login-title > p {
    font-size: 14px;
    margin-top: -5px;
}

.input-box {
    padding: 20px 0%;
}

.input-box input {
    width: max-content;
    border-style: none;
    border-radius: 10px;
    outline: none;
    box-shadow:inset 0px 0px 15px#1e1e1e19;
    padding: 15px;
    font-family: 'Inter',sans-serif;
    font-weight: 300;
}

.input-email {
    padding-bottom: 5px;
}

.input-password {
    padding-top: 5px;
}

.login-button {
    padding-bottom: 25px;
}

.login-button button {
    width: max-content;
    padding: 10px 60px;
    color: white;
    font-family: 'Inter',sans-serif;
    font-weight: bold;
    background-color: #067BC2;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-button button:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 20px #0565a1;
}

.link-box {
    display: flex;
    flex-direction: column;
}

.link-box a {
    text-decoration: none;
    transition: all 0.2s ease;
    color: #067BC2;
    font-weight: 300;
}

.link-box a:hover {
    text-decoration: underline;
    color: #0565a1;
}